// colors
$primary: rgb(93, 46, 233);
$secondary: rgb(226, 85, 85);

$textColor: rgba(0, 0, 0, 1);
$textLightColor: rgba(0, 0, 0, 0.6);

// box-shadow
$base-box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

// spacing
$base-padding: 0.5rem;
$base-margin: 0.5rem;

// Screen sizes
$large: 1390px;
$medium: 767px;
$small: 480px;

// border
$base-border-radius: 20px;
$base-border: 1px;