@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";
@import "../../sassStyles/typography";
.HomePage{
    @include centerElement(column);
    height: 100%;
    h1 {
        color: rgb(72, 72, 72);
        font-family: 'Nunito', sans-serif;
        font-weight: bolder;
    }
    p{
        color: rgb(72, 72, 72);
        font-size: 1.3rem;
        font-weight: bold;
        word-spacing: 2px;
        margin-top: 0;
        font-family: 'Sofia Sans', sans-serif;
    }
    .btn-main {
        font-size: 1.1rem;
        border: $base-border solid transparent;
        background-color: rebeccapurple;
        border-radius: $base-border-radius / 2;
        margin-top: $base-margin * 2;
        padding: $base-padding $base-padding * 2;
        cursor: pointer;
        color: whitesmoke;
        font-family: 'Sofia Sans', sans-serif;
    }
    .btn-sub {
        @extend .btn-main;
        background-color: transparent;
        border: $base-border solid rgb(72, 72, 72);
        font-size: 1rem;
        color: rgb(72, 72, 72);
    }
}